# temporary files, log files
*.cache
*.class
*.log

# intermediate, compile files
target/
lib_managed/

.scala-build/
.bsp/

# visual code
.bloop/
.metals/
metals.sbt
.vscode/

# virtual machine crash logs
hs_err_pid*
